*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boly{
    display: flex;
    flex-direction: row;
}
body{
    font-family: "Raleway", sans-serif;
}
.header-column{
    display: block;
    z-index: 1;
}
div.btl{
    display: none;
}

@media only screen and (max-width: 900px){
    
    .header-column{
        display: none;
        width: 0px;
    }
    div.btl{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btl a{
        background: none;
        border: none;
        color: black;
        font-size: 40px;
        font-weight: 300;
        padding: 0;
        left: 0 !important;
        padding: 16px 0;
        border-radius: 0;
        flex: 0;
        top: 0;
        
    }
    a.btn-primary:active{
        color: black !important;
        background-color: #f1f1f1!important
    

    }
    a.btn-primary:focus{
        box-shadow: none !important;
        color: black !important;
        background-color: #ccc!important;
        border-color: none !important;
    }
    .fixd:focus{
        color: black;
        background-color: #ccc!important;
        border-color: #ccc;
        box-shadow: 0 0 0 0.25rem #ccc;
    }
    .btl a:hover{
        color: black;
        background-color: #f1f1f1!important;
    }
    .btl img{
        border-radius: 50%;
        width: 65px;
        margin: 16px;

    }

    .header-row{
        margin-left: 0 !important;
        width: 100%;
    }
}
button.btn-close{
    float: right !important;
    padding: 8px 16px !important;
    color: black !important;
    opacity: 100%;
    border-radius: 0;
    background: white !important;
    font-size: 100px;
    font-weight: 800;
}
button.btn-close:focus{
    box-shadow: none !important;
}
.header-row{
    background: #f1f1f1;
    height: 100%;
    width: 100%;
    margin-left: 300px;
}
.header-column{
    width: 300px;
    background: white;
    height: 100vh;
    position: fixed;
}
.anh{
    padding: 0.150px 16px;
    margin-top: 16px;
}
.anh img{
    width: 45%;
    border-radius: 4px;
    margin-bottom: 10px;
}
.chuto{
    font-family: "Raleway", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
.chuto h4 b{
    font-weight: 400;
}
.by{
    color: #757575;
    margin: 15px 0;
}
.bar a div{
    padding: 8px 16px;
    color: black;
}
.bar a{
    text-decoration: none ;
}
.fas{
    width: 12px;
}
.bar a div i{
    margin-right: 10px;
}
.xanh {
    color: #009688 !important;
}
.bar a div:hover{
    background: #ccc;
    color: black !important;
    cursor: pointer;
}
.icon{
    margin: 16px 0;
    padding: 0.180px 16px;
}

.header-my{
    padding: 0.15px 16px;
}
.header-my h1{
    font-family: "Raleway", sans-serif;
    margin: 10px 0;
    font-size: 36px;
    font-weight: 500;
}
.menu{
    border-bottom: 6px solid #ccc!important;
    padding: 16px 0;
    margin: 16px 0;
}
.menu button{
    padding: 8px 16px;
    color: black;
    background: white;
    border: none;
    font-size: 16px;
}
.menu button:hover{
    color: black;
    background: #ccc;
}
.menu span{
    margin-right: 10px;
}
button.all{
    background: black;
    color: white;
}
.chien-row-padding{
    z-index: 2;
    color: black;
}
.col-xl-4 img:hover{
    opacity: 0.60;
}
.chien{
    padding: 0 8px;
}
.chien row{
    display: flex;
}
.chien row div{
    width: 33.33333%;
}
.whi{
    background-color: rgb(255, 255, 255) !important;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    

}
.col-xl-4 img{
    width: 100%;
}
.whi h5,.whi p{
    padding: 0.15px 16px;
}
.page{
    padding: 32px 0;
}
.page1{
    display: flex;
    justify-content: center;
    font-size: 16px;
}
a.page-link{
    background: #f1f1f1;
    color: black ;
    border: none ;
    border-radius: 0 !important ;
}
a.page-link:hover{
    background: black ;
    color: white ;
}
.den a.page-link{
    background: black !important;
    color: white !important;
}
.den a.page-link:hover{
    background: #ccc !important;
    color: black !important;
}
.haianh{
    padding: 16px 8px;
}
.col-sm-6 img{
    width: 100%;
    padding: 0.15px 8px;
    margin-bottom: 0 !important ;
}
.aboutme{
    padding: 12px 24px;
}
.aboutme h4{
    margin: 10px 0;
    font-weight: 550;
    font-family: "Raleway", sans-serif;
    font-size: 20px;

}
.aboutme h5{
    margin: 10px 0;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}
.aboutme p{
    margin: 15px 0;
}
.phantram{
    background: #9e9e9e;
    width: 100%;
}
.chin{
    width: 95%;
    padding: 8px 16px;
    background: #616161;
    text-align: center;
    color: white;
}
.tam{
    width: 85%;
    padding: 8px 16px;
    background: #616161;
    text-align: center;
    color: white;
}
.tam1{
    width: 80%;
    padding: 8px 16px;
    background: #616161;
    text-align: center;
    color: white;
}
.thedown{
    margin: 15px 0;
}
.down i{
    margin-right: 10px;
}
.down{
    background: #9e9e9e;
    color: white;
    padding: 12px 24px;
    border: none;
}
.down:hover{
    background: #ccc;
    color: black;
}

div.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
ul.up{
    list-style: none;
    opacity: 0.6; 
    margin: auto;
    border: 1px solid #ddd;
    padding: 0 ;
    text-align: center;

}
div.hien hr{
    border: 0;
    border-top: 1px solid #ddd;
    margin: 40px 0 !important;
}
ul.up:hover{
    opacity: 100%;
}
.up-header{
    background: rgb(4, 7, 0);
    color: white;
    padding: 32px 16px;
    font-size: 24px;
}
li.nguyen{
    
    background: #009688;
}
ul li{
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
ul li p{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}
ul.up button{
    background: #009688;
    color: white;
    border: none;
    border-radius: 0;
    padding: 12px 24px;
}
ul.up button:hover{
    background: black;
}
.btn-primary:active{
    background: black !important;
    border: none !important;
}
.contactme{
    color: #000;
    background-color: #9e9e9e;
}
.me{
    padding: 12px 24px;
}
.me h4{
    margin: 10px 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
div.send{
    background: #616161;
    color: white;
}
div.send i{
    font-size: 40px;
    margin: 15px 0 !important;
    margin: 0;
    position: relative;
    right: 12px;
    
}

div.gui p{
    text-align: center;
}
div.ane{
    background: #009688 !important;
    text-align: center;
}
p.nine{
    margin: 0 !important;

}
.im{
    padding: 8px;
    width: 100%;
}
button.but{
    background: black;
    color: white;
    border: none;
    margin: 16px 0;
    padding: 8px 16px;
}
button.but:hover{
    color: #000!important;
    background-color: #ccc!important;
}
button.but i{
    margin-right: 10px;
}
.pay{
    border: none;
    background: #009688 !important;
    color: white !important;
    width: 100%;
    padding: 16px;
    margin: 16px 0;
}
.btn-close{
    background: #009688 !important;
    color: white !important;
    z-index: 1;
}
.pay:hover{
    background: #666;
    color: black;
    cursor: pointer;
}
div.modal-footer button{
    background: #f44336;
    color: white;
    border: none !important;
    border-radius: 0 !important;
    justify-content: none !important;

}
.need{
    background: white !important;
    color: black;
}
.need a{
    background: white !important ;
}
.modal-header{
    color: white;
    background: #009688!important;
    position: relative;
    
}
.card-body button{
    background: black;
    border-radius: 0;
    border: none;
}
.card-body button:hover{
    background: #757575;
    color: black;
}
.modal-header button{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
    text-align: center;
    
}
.modal-title{
    width: 100%;
    justify-content: center;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.modal-title i{
    margin-right: 10px ;
}
.col-form-label{
    color: black !important;
}
.modal-header i{
    opacity: 100% !important;
    margin-right: 30px;
}
div.modal-footer{
    justify-content: space-between;
}
.thefooter{
    color: #fff;
    background-color: #616161;
    padding: 32px 32px;
    width: 100%;
    position: relative;
    left: 12px;
}
.thefooter h3{
    font-weight: 300;
}
.thefooter a{
    color: #fff;

}
.blog li{
    list-style: none;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    
}
.blog li:hover{
    background-color: #ccc;
}
.blog ul{
    margin-left: -32px !important ;
}
.blog li img{
    width: 50px;
    float: left;
    margin-right: 16px;
}
.ki{
    font-size: 18px;
}
.borr{
    border: none !important;
}
span.travel{
    background: black !important;
    color: white !important;
}
.tags span{
    color: #000;
    background-color: #9e9e9e;
    margin-bottom: 16px;
    font-size: 15px;
    padding: 0 8px;
}
.pow{
    width: 100%;
    padding: 24px;
    text-align: center;
    color: #fff!important;
    background: black;
    position: relative;
    top: -32px;
}
.pow a{
    color: #fff!important;
}